#gallery {
  box-sizing: border-box;
  position: absolute;
  margin: 0 2vw;
  left: 20vw;
  width: 76vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: stretch;
  align-items: flex-start;
}

@media (max-width: 800px) {
	 #gallery {
		 display: flex;
		 align-items: flex-start;
		 flex-wrap: wrap;
	}
	 #gallery > div {
		 width: 48%;
		 margin: 1%;
     height: 48%;
	}
}
 @media (max-width: 800px) and (max-width: 350px) {
	 #gallery > div {
		 width: 98%;
	}
}

  #gallery > div {
    height: 30vh;
    border: 1px solid #dedede;
    flex-grow: 1;
    overflow: hidden;
 	  position: relative;
 	  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
  }

 #gallery > div > a {
	 opacity: 0;
	 position: absolute;
	 color: #fff;
	 /*background-color: #000;*/
	 /*font: bold 3em "Helvetica";*/
	 /*text-shadow: 0 -1px 5px #fff, -1px 0px 5px #fff, 0 1px 5px #fff, 1px 0px 5px #fff;*/
   text-shadow: 0 -1px 5px #000;
	 padding: 2rem;
	 /*mix-blend-mode: difference;*/
	 width: 100%;
	 height: 100%;
   font-size: 1.5vw;
	 transition: all ease-in 0.5s;
}

 #gallery > div > img {
	 min-width: 100%;
   max-height: 100%;
   object-fit: cover;
   vertical-align: bottom;
	 /*transition: all ease 1s;*/
}

#gallery > div:hover img {
	filter: blur(0.5px);
}

#gallery > div:hover a {
   font-size: 1.5vw;
	 opacity: 1;
}

#gallery div, #gallery a {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 text-decoration: none;
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  /*opacity: 0;
  /*transition: opacity ease-in 1s;*/
}

.lightbox > a > .content {
  text-align: center;
}

.lightbox > a > .content > img {
  margin-top: 5vh;
  max-height: 70vh;
}

[id^="lightbox-"]:target {
  display: block;
  opacity: 100;
  transition: opacity 0.5s;
}

[id^="lightbox-"]:target img {
  animation: fadeInScale 0.5s;
}

@keyframes fadeInScale {
  0% {
    transform: scale(0.5);
    opacity: 0;
    filter: blur(3px);
  }
  100% {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  }
}

.lightbox > a:link {
  text-decoration: none;
  color: white;
  font-size: 1.5vw;
}

.lightbox > a:visited {
  text-decoration: none;
  color: white;
  font-size: 1.5vw;
}

.lightbox > a:hover {
  text-decoration: none;
  color: white;
  font-size: 1.5vw;
}

.lightbox > a:active {
  text-decoration: none;
  color: white;
  font-size: 1.5vw;
}

.title {
  position: relative;
  width: 60vw;
  left: 20vw;
}

/*
[id^="lightbox-"] {
	 position: fixed;
	 top: 0;
	 left: 0;
	 width: 100vw;
	 height: 100vh;
	 background-color: rgba(0, 0, 0, 0.5);
	 display: flex;
	 opacity: 0;
	 transition: opacity 450ms ease-in-out;
	 align-items: center;
	 justify-content: center;
	 pointer-events: none;
}

[id^="lightbox-"]:target {
	 opacity: 1;
	 pointer-events: inherit;
}

[id^="lightbox-"]:target img {
	 filter: blur(0);
}

[id^="lightbox-"] .content {
	 max-width: 90%;
	 position: relative;
	 color: #fff;
}

[id^="lightbox-"] .content:hover > a.close {
	 opacity: 1;
	 transform: scale(1, 1);
}
 [id^="lightbox-"] .content:hover > .title {
	 opacity: 1;
	 transform: translateY(-3px);
}
 [id^="lightbox-"] .content:hover > .title::after {
	 opacity: 1;
}
 [id^="lightbox-"] .content > * {
	 transition: all 450ms ease-in-out;
}
 [id^="lightbox-"] .title {
	 display: block;
	 margin: 0;
	 padding: 1em;
	 position: absolute;
	 bottom: 0;
	 width: 100%;
	 transform: translateY(50%);
	 font-size: 1em;
	 opacity: 0;
}
 [id^="lightbox-"] .title::after {
	 content: ' ';
	 background-color: rgba(0, 0, 0, 0.4);
	 bottom: 0;
	 left: 0;
	 height: 100%;
	 width: 100%;
	 position: absolute;
	 transition: all 350ms ease-in-out 250ms;
	 opacity: 0;
	 transform-origin: bottom;
	 mix-blend-mode: soft-light;
}
 [id^="lightbox-"] img {
	 max-height: 90vh;
	 max-width: 100%;
	 margin: 0;
	 padding: 0;
	 filter: blur(50px);
}
 [id^="lightbox-"] a.close {
	 width: 2em;
	 height: 2em;
	 position: absolute;
	 right: 0;
	 top: 0;
	 background-color: rgba(0, 0, 0, 0.5);
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 transform: scale(0, 0);
	 opacity: 0;
	 transform-origin: right top;
	 text-decoration: none;
	 color: #fff;
}
 [id^="lightbox-"] a.close::after {
	 content: "X";
}
*/
