
#page-content {
  position: relative;
  top: 0vh;
  left: 20vw;
  width: 80vw;
  box-sizing: border-box;
  /*overflow-x: hidden;*/
}

#page-title {
  position: relative;
  top: 20vw;
  left: 5vw;
  font-family: 'Playfair Display', serif;
  font-size: 3vw;
  width: 60%;
}

#page-text {
  position: relative;
  font-size: 1.7vw;
  top: 21vw;
  left: 5vw;
  width: 60%;
  height: 100%;
}

#page-text mark {
  background: linear-gradient(to right, white 50%, #cbf2e6 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}

#page-text mark:hover {
  background-position: left bottom;
  transition: all ease-out 1s;
}

/*
#page-text > a {
  display: block;
}*/

#graphic {
  position: fixed;

  width: 100%;
  height: 100%;
  left: 35%;
  top: -5%;
}

svg {
  width: 100%;
  height: 100%;
}

path {
  opacity: NaN;
  fill-opacity: null;
  stroke-opacity: null;
  stroke-dasharray: 5,5;
  stroke-linecap: round;
  stroke-width: 1px;
  stroke: #6ee6c2;
  fill: #cbf2e6 ;
  /*fill: url(#myGradient);*/
  transition: all ease-in-out 0.5s;
}

path:hover {
  /*fill: url(#myGradient);*/
  fill: #f7b2bf;
  stroke: #e6778c;
  transition: all ease-in-out 0.5s;
}

#list {
  height: 100%;
  padding-bottom: 5%;
}

.list-image img {
  width: 30vw;
}
